/* @import '../fonts/main.css'; */

html,
body {
  /* font-family: 'Roboto', sans-serif; */
  margin: 0;
  padding: 0;
  color: #14141a;
  font-size: clamp(10px, 3em, 14px);
  /* font-size: calc(100vw / 1920 * 10);

  @media (max-width: 2560px) {
    font-size: calc(100vw / 1920 * 10);
  }
  @media (max-width: 1920px) {
    font-size: calc(100vw / 1200 * 10);
  }
  @media (max-width: 1200px) {
    font-size: calc(100vw / 992 * 10);
  }
  @media (max-width: 992px) {
    font-size: calc(100vw / 768 * 10);
  }
  @media (max-width: 768px) {
    font-size: calc(100vw / 576 * 10);
  } */
}
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div::-webkit-scrollbar {
  width: 0.35em;
  height: 0.35em;
  /* background-color: #f9fafb; */
}

div::-webkit-scrollbar-thumb {
  /* border-radius: 0.25em; */
  background-color: #c9c9c9;
}

/* div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-color: #f9fafb;
} */

.bg-section-image {
  background-image: url('../images/background.svg');
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.bg-color-gradient {
  background: linear-gradient(79.8deg, #151515 12.76%, #1b1b1c 40.99%, #262729 94.64%);
}

/* fade animation */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.warning {
  background: #fff2e2;
  color: #cc8925;
}
.success {
  background: #e4f8f0;
  color: #1ea97c;
}
.info {
  color: #3b82f6;
  background: #fff;
}

.warning-2 {
  background: #f59e0b;
  color: #fff;
}
.success-2 {
  background: #22c55e;
  color: #fff;
}
.error-2 {
  background: #ef4444;
  color: #fff;
}
.info-2 {
  background: #3b82f6;
  color: #fff;
}

.pl-5half {
  padding-left: 2.5rem !important;
}

.bg-none {
  background: none !important;
}

.p-component-overlay {
  background: none;
  backdrop-filter: blur(2px);
}

.required-asterisk::after {
  content: '*';
  margin-left: 4px;
  color: var(--red-500);
}

label[disabled] {
  color: var(--surface-400);
}

.p-placeholder {
  color: var(--bluegray-300);
}

.p-datatable .p-datatable-thead > tr > th {
  border-width: 1px 0 1px 0;
  background-color: #fff;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover {
  background: var(--gray-100);
}

.p-datatable .p-sortable-column.p-highlight {
  background: var(--highlight-bg);
  color: var(--highlight-text-color);
}

.p-datatable .p-sortable-column.p-highlight:hover {
  background: var(--highlight-bg);
  color: var(--highlight-text-color);
}

.p-dropdown-item-label {
  white-space: pre-wrap;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--bluegray-300);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--bluegray-300);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--bluegray-300);
}

label {
  color: var(--text-color-secondary)
}